* ,button, ul, li{
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-family: "Graphik", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    list-style: none;
    box-shadow: none;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    color: #171717;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    gap: 1em;
}

#navigation {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 2em;
    color: #f7f7f7;
    background-color: #575757;
    height: 100vh;
    padding: 1em;
    position: sticky;
    top: 0px;
}

h2 {
    font-size: 2em;
    line-height: 100%;
    font-weight: 600;
}

h3 {
    font-size: 1.5em;
    line-height: 125%;
    font-weight: 600;
}

h4 {
    font-size: 1.125em;
    line-height: 125%;
    font-weight: 600;
}

h5 {
    font-size: 0.75em;
    color: #575757;
}

h6 {
    font-weight: 600;
}

#main {
    display: grid;
    grid-template-rows: auto auto 1fr;
    margin-right: 1em;
}

#logo {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
    margin-left: 0.5em;
    padding: 0.375em 0;
    font-weight: 600;
}

.icon {
    height: 24px;
    width: 24px;
}

.avatar {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    object-fit: cover;
}

.link {
    padding: 0.5em;
    border-radius: 4px;
}

.link:hover {
    background-color: #171717;
    text-decoration: underline;
}

#toolbar{
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    background-color: #f7f7f7;
    gap: 2em;
    align-items: center;
    position: sticky;
    top: 0px;
}

#profile-items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em;
    align-items: center;
    align-self: end;
    justify-self: end;
}

#searchbar{
    display: flex;
    gap: 0.25em;
}

#header{ 
    background-color: #e3f7df;
    padding: 1em;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: end;
    gap: 1em;
}

#header-actions{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em;
    align-items: center;
    justify-items: start;
    justify-self: end;
}

.profile-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 40px;
}

input{
    width: clamp(240px,100%,320px); 
    border: none;
    background-color: #e7e7e7;
    padding: 0.25em 0.5em;
    border: 1px solid #a7a7a7;
    font-size: 16px;
    border-radius: 4px;
}

button {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 0.375em;
    background-color: #f7f7f7;
    color: #1757e7;
    height: 36px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    align-items: center;
}

button:hover{
    background-color: #e2ebff;
    padding: 5px;
    border: 1px solid #1757e7;
    cursor: pointer;
}

button > .icon {
    color:#f7f7f7;
}

button#avatar {
    padding: 0.125em;
    border-radius: 18px;
}

button#avatar:hover {
    padding: 1px;
    border: 1px solid #1757e7;
}

button.header{
    padding-right: 0.75em;
}

button.header:hover {
    padding-right: 11px;
}

#header-textcontent {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

#content{ 
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3em;
    padding: 2em 1em;
}

#projects {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1em;
}

#project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
    grid-auto-rows: min-content;
    gap: 1em;
}

#card {
    background-color: #ffffff;
    width: clamp(264px, 100%, 344px);
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #d7d7d7;
    transition: 0.2s;
    display: grid;
    grid-template-rows: repeat(4, min-content) auto;
    gap: 0.5em;
    place-items: start start;
}

#card:hover {
    box-shadow: 0 8px 1em #d7d7d780;
    border: 1px solid #a7a7a7;
    transition: 0.5s;
}

h4:hover {
    color: #1757e7;
    text-decoration: underline;
    cursor: pointer;
}

#card > p {
    color:#575757;
}

#metrics{
    display: grid;
    justify-self: stretch;
    grid-template-columns: repeat(auto-fill, minmax(64px,1fr));
    gap: 1em;
}

#metrics > li {
    font-size: 0.75em;
    font-weight: 600;
}

#metrics > li:hover {
    text-decoration: underline;
    color: #575757;
    cursor: pointer;
}

#card-actions {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    place-self: end end;
    gap: 0.5em;
    margin-right: -0.5em;
}

#card-actions > button {
    background-color: #ffffff;
}

#card-actions > button:hover {
    background-color: #e2ebff;
}

#main-side {
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 2em;
}

#announcements, #trending {
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 1em;
}

#messages {
    padding: 1em;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-auto-rows: min-content;
    gap: 1em;
    border-radius: 0.5em;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
}

#message, #project-highlight {
    padding-bottom: 1em;
    border-bottom: 1px solid #a7a7a7;
}

#message:last-child, #project-highlight:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

#message > .stack > p {
    font-size: 0.875em;
    color: #575757;
}

#message > .stack > h6:hover {
    color:#1757E7;
    text-decoration: underline;
    cursor: pointer;
}

#project-highlight {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 1em;
}

#project-highlight > .profile-img {
    height: 40px;
    width: 40px;
}

.user-handle {
    font-size: 14px;
    color: #575757;
}

.user-handle:hover {
    color: #171717;
    text-decoration: underline;
}